<h1>ABOUT USER</h1>
    <div>
        <p>Username : {{users.username}}</p> 
        <p>First Name : {{users.firstName}}</p>   
        <p>Last Name : {{users.lastName}}</p>
        <p>Profession : {{users.profession}}</p>
        <p class="userBio">Bio : {{users.bio}} </p>
    </div>
    <a href="/logout">Logout</a>